<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>test</title>
</head>

<script src="https://kit.fontawesome.com/6432d1924e.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<body>

  <div class="wrapper">

    <div class="container">

      <div class="pentagon">
        <div class="pentagon__body">
          <div class="pentagon__inner">
            <span class="pentagon__text">test</span>
          </div>
        </div>
      </div>
      
      <a href="./form.html">форма</a>

      <div class="block-1">
        <div class="block-1__wrap">
          <p class="block-1__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi architecto quasi tempore voluptatum molestiae. Odio provident esse pariatur praesentium iste quaerat natus qui nisi minima tempore magnam, harum dolore hic eos quibusdam ipsa consequuntur veniam facilis tenetur, vitae repellat laboriosam illo? Voluptatum cupiditate nesciunt aut ducimus, atque fugiat itaque cum?</p>
        </div>
      </div>

      <div class="block-2">
        <div class="block-2__wrap">
          <p class="block-2__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi architecto quasi tempore voluptatum molestiae. Odio provident esse pariatur praesentium iste quaerat natus qui nisi minima tempore magnam, harum dolore hic eos quibusdam ipsa consequuntur veniam facilis tenetur, vitae repellat laboriosam illo? Voluptatum cupiditate nesciunt aut ducimus, atque fugiat itaque cum?</p>
        </div>
      </div>

      <div class="block-3">
        <div class="block-3__wrap">
          <p class="block-3__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi architecto quasi tempore voluptatum molestiae. Odio provident esse pariatur praesentium iste quaerat natus qui nisi minima tempore magnam, harum dolore hic eos quibusdam ipsa consequuntur veniam facilis tenetur, vitae repellat laboriosam illo? Voluptatum cupiditate nesciunt aut ducimus, atque fugiat itaque cum?</p>
        </div>
      </div>

      <div class="table">
        <div class="table__cell  table__cell--four">four</div>
        <div class="table__cell  table__cell--four">four</div>
        <div class="table__cell  table__cell--four">four</div>
        <div class="table__cell  table__cell--four">four</div>
        <div class="table__cell  table__cell--two">two</div>
        <div class="table__cell  table__cell--two">two</div>
        <div class="table__cell  table__cell--six">six</div>
        <div class="table__cell  table__cell--six">six</div>
        <div class="table__cell  table__cell--six">six</div>
        <div class="table__cell  table__cell--six">six</div>
        <div class="table__cell  table__cell--six">six</div>
        <div class="table__cell  table__cell--six">six</div>
        <div class="table__cell  table__cell--three">three</div>
        <div class="table__cell  table__cell--three">three</div>
        <div class="table__cell  table__cell--three">three</div>
        <div class="table__cell  table__cell--five">five</div>
        <div class="table__cell  table__cell--five">five</div>
        <div class="table__cell  table__cell--five">five</div>
        <div class="table__cell  table__cell--five">five</div>
        <div class="table__cell  table__cell--five">five</div>
      </div>

      <div class="accordion">
        <div class="accordion__tab">tab</div>
        <div class="accordion__content">
          <p class="accordion__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus fugiat nam minus saepe cupiditate, officiis quasi quis laboriosam necessitatibus molestiae cum, asperiores odio similique soluta animi optio exercitationem perferendis quibusdam voluptas, ipsa dignissimos. Voluptates magnam adipisci odio reiciendis, doloribus ab doloremque, voluptate, accusamus sint quasi beatae! Necessitatibus soluta quisquam aliquam.</p>
        </div>
        <div class="accordion__tab">tab</div>
        <div class="accordion__content">
          <p class="accordion__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus fugiat nam minus saepe cupiditate, officiis quasi quis laboriosam necessitatibus molestiae cum, asperiores odio similique soluta animi optio exercitationem perferendis quibusdam voluptas, ipsa dignissimos. Voluptates magnam adipisci odio reiciendis, doloribus ab doloremque, voluptate, accusamus sint quasi beatae! Necessitatibus soluta quisquam aliquam.</p>
        </div>
        <div class="accordion__tab  accordion__tab--is-active">tab</div>
        <div class="accordion__content  accordion__content--visible">
          <div class="accordion__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus fugiat nam minus saepe cupiditate, officiis quasi quis laboriosam necessitatibus molestiae cum, asperiores odio similique soluta animi optio exercitationem perferendis quibusdam voluptas, ipsa dignissimos. Voluptates magnam adipisci odio reiciendis, doloribus ab doloremque, voluptate, accusamus sint quasi beatae! Necessitatibus soluta quisquam aliquam.</div>
        </div>
        <div class="accordion__tab">tab</div>
        <div class="accordion__content">
          <div class="accordion__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus fugiat nam minus saepe cupiditate, officiis quasi quis laboriosam necessitatibus molestiae cum, asperiores odio similique soluta animi optio exercitationem perferendis quibusdam voluptas, ipsa dignissimos. Voluptates magnam adipisci odio reiciendis, doloribus ab doloremque, voluptate, accusamus sint quasi beatae! Necessitatibus soluta quisquam aliquam.</div>
        </div>
      </div>

      <div class="tabs">
        <div class="tabs__btns">
          <div class="tabs__btn">btn</div>
          <div class="tabs__btn">btn</div>
          <div class="tabs__btn">btn</div>
          <div class="tabs__btn">btn</div>
        </div>
        <div class="tabs__content">
          <div class="tabs__item">
            <span class="tabs__title">TAB 1</span>
            <p class="tabs__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse fugiat officiis repellat vero similique repellendus. Doloribus adipisci rem tempora sapiente provident et explicabo enim architecto, sed doloremque laborum iure excepturi qui praesentium amet temporibus, itaque magni officiis, nostrum voluptate? Eaque optio culpa ullam incidunt iure quam adipisci magnam molestiae quasi.</p>
          </div>
          <div class="tabs__item">
            <span class="tabs__title">TAB 2</span>
            <div class="tabs__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse accusantium fuga atque doloribus quasi dolor placeat ullam. Voluptatum quas ea praesentium explicabo expedita labore doloribus molestias autem tenetur cumque consectetur aperiam sunt inventore iste corporis, omnis nihil illum reprehenderit quia cupiditate dignissimos consequatur accusamus. Error qui repellat molestias pariatur consectetur non odit optio reiciendis quasi ipsum totam rerum laudantium eveniet est, incidunt aliquid aliquam repudiandae suscipit? Repudiandae culpa illo nisi?</div>
          </div>
          <div class="tabs__item">
            <span class="tabs__title">TAB 3</span>
            <div class="tabs__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem autem maxime repellat eos non a impedit molestias praesentium tempora hic accusamus error, consectetur amet odit ipsam reprehenderit facere temporibus enim?</div>
          </div>
          <div class="tabs__item">
            <span class="tabs__title">TAB 4</span>
            <div class="tabs__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem odit veritatis adipisci cum quod earum optio libero magni qui et!</div>
          </div>
        </div>
      </div>
      
      <div class="vertical-tabs">
        <div class="vertical-tabs__btns">
          <div class="vertical-tabs__btn">btn</div>
          <div class="vertical-tabs__btn">btn</div>
          <div class="vertical-tabs__btn">btn</div>
          <div class="vertical-tabs__btn">btn</div>
          <div class="vertical-tabs__btn">btn</div>
        </div>
        <div class="vertical-tabs__content">
          <div class="vertical-tabs__item">
            <span class="vertical-tabs__title">TAB 1</span>
            <p class="vertical-tabs__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse fugiat officiis repellat vero similique repellendus. Doloribus adipisci rem tempora sapiente provident et explicabo enim architecto, sed doloremque laborum iure excepturi qui praesentium amet temporibus, itaque magni officiis, nostrum voluptate? Eaque optio culpa ullam incidunt iure quam adipisci magnam molestiae quasi.</p>
          </div>
          <div class="vertical-tabs__item">
            <span class="vertical-tabs__title">TAB 2</span>
            <div class="vertical-tabs__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse accusantium fuga atque doloribus quasi dolor placeat ullam. Voluptatum quas ea praesentium explicabo expedita labore doloribus molestias autem tenetur cumque consectetur aperiam sunt inventore iste corporis, omnis nihil illum reprehenderit quia cupiditate dignissimos consequatur accusamus. Error qui repellat molestias pariatur consectetur non odit optio reiciendis quasi ipsum totam rerum laudantium eveniet est, incidunt aliquid aliquam repudiandae suscipit? Repudiandae culpa illo nisi?</div>
          </div>
          <div class="vertical-tabs__item">
            <span class="vertical-tabs__title">TAB 3</span>
            <p class="vertical-tabs__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem autem maxime repellat eos non a impedit molestias praesentium tempora hic accusamus error, consectetur amet odit ipsam reprehenderit facere temporibus enim?</p>
          </div>
          <div class="vertical-tabs__item">
            <span class="vertical-tabs__title">TAB 4</span>
            <p class="vertical-tabs__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem odit veritatis adipisci cum quod earum optio libero magni qui et!</p>
          </div>
          <div class="vertical-tabs__item">
            <span class="vertical-tabs__title">TAB 5</span>
            <p class="vertical-tabs__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et facere fugit, nostrum magnam veritatis laborum reiciendis architecto dolorum? Fuga animi debitis culpa asperiores ab praesentium facilis, architecto fugit esse corporis laboriosam pariatur quae autem! Blanditiis repellat quis laboriosam a quam facilis, deserunt dolorum aperiam, totam, hic delectus veritatis repellendus! Modi, est natus sequi quisquam ab vitae aliquam dolore esse nisi error ex eius voluptate nostrum! Nesciunt placeat odit laboriosam neque.</p>
          </div>
        </div>
      </div>

      <div class="block-3">
        <div class="block-3__wrap">
          <p class="block-3__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi architecto quasi tempore voluptatum molestiae. Odio provident esse pariatur praesentium iste quaerat natus qui nisi minima tempore magnam, harum dolore hic eos quibusdam ipsa consequuntur veniam facilis tenetur, vitae repellat laboriosam illo? Voluptatum cupiditate nesciunt aut ducimus, atque fugiat itaque cum?</p>
        </div>
      </div>

    </div><!-- container -->

  </div><!-- /.wrapper -->

</body>

</html>