@import './null.scss';
@import './px_to_em.scss';
@import './px_to_vw.scss';

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 1.6;
  background: rgb(240, 255, 255);

  @media screen and (max-width: 1199px) {
    font-size: 1.133333vw;
  }

  @media screen and (max-width: 770px) {
    font-size: 1.633333vw;
  }

  @media screen and (max-width: 576px) {
    font-size: 2.833333vw;
  }
}

.container {
  max-width: em(1020);
  margin: 0 auto;
  background: rgb(255, 228, 196);
  width: 100%;
  border: em(7) solid rgba(86, 48, 24, 0.8);
  background-color: rgba(24, 22, 21, 0.8);
}

.pentagon {
  margin: em(30) auto;
  width: em(400);
  height: em(100);
  background-color: rgb(0, 0, 0);
  clip-path: polygon(50% 0, 100% 50%, 100% 100%, 0 100%, 0 50%);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(106, 131, 139);

  &__body {
    background-color: rgb(0, 255, 255);
    width: calc(100% - #{em(10)});
    height: calc(100% - #{em(10)});
    clip-path: polygon(50% 0, 100% 54%, 100% 100%, 0 100%, 0 54%);

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__inner {
    background-color: rgb(165, 42, 42);
    width: calc(100% - #{em(10)});
    height: calc(100% - #{em(10)});
    clip-path: polygon(50% 0, 100% 58%, 100% 100%, 0 100%, 0 58%);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease-out;

    cursor: pointer;

    &.active {
      background-color: rgb(71, 179, 89);
    }
  }

  &__text {
    color: white;

    transition: all 0.3s ease-out;

    &.active {
      color: rgb(0, 0, 0);
    }
  }
}

.block-1 {
  margin-top: em(30);
  background-color: rgb(95, 158, 160);
  padding: em(40);

  &__wrap {
    background-color: rgb(255, 127, 80);
  }

  &__text {
    color: rgb(9, 9, 75);
    font-size: em(20);
  }
}

.block-2 {
  margin-top: em(30);
  background-color: rgb(95, 158, 160);
  padding: em(40);

  &__wrap {
    background-color: rgb(255, 127, 80);
  }

  &__text {
    color: rgb(9, 9, 75);
  }
}

.block-3 {
  margin-top: em(30);
  background-color: rgb(95, 158, 160);
  padding: em(40);

  &__wrap {
    background-color: rgb(255, 127, 80);
  }

  &__text {
    color: rgb(9, 9, 75);
  }
}

.table {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: em(30);

  padding-left: em(4);
  padding-top: em(4);

  &__cell {
    flex: 1 0 auto;
    width: 30%;
    background: rgb(92, 167, 96);
    text-align: center;
    border: em(4) solid #000;
    padding: em(10);

    margin-left: em(-4);
    margin-top: em(-4);

    &--four {
      width: 20%;
      background: gold;

      @media screen and (max-width: 770px) {
        width: 50%;
      }
    }

    &--two {
      width: 50%;
      background: hotpink;

      @media screen and (max-width: 770px) {
        width: 100%;
      }
    }
 
    &--six {
      width: 16%;
      background: mediumpurple;

      @media screen and (max-width: 770px) {
        width: 30%;
      }
    }
 
    &--three {
      width: 30%;
      background: salmon;

      @media screen and (max-width: 770px) {
        width: 100%;
      }
    }
 
    &--five {
      width: 20%;
      background: rgb(105, 114, 196);

      @media screen and (max-width: 770px) {
        width: 30%;
      }
    }
  }
}

.accordion {
  margin-top: em(30);
  width: 100%;

  &__tab {
    margin-top: em(10);
    background: burlywood;
    padding: em(15);
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s ease-out;

    &:hover {
      background: rgb(156, 130, 96);
    }

    &:after {
      content: '\f107';
      font-family: 'FontAwesome';
      transition: all 0.3s ease-out;
    }

    &--is-active {
      &::after {
        transform: rotate(180deg);
      }
    }
  }

  &__content {
    background: cadetblue;
    display: none;

    &--visible {
      display: flex;
    }
  }

  &__text {
    padding: em(20);
  }
}

.tabs {
  margin-top: em(30);
  width: 100%;

  &__btns {
    display: flex;
  }

  &__btn {
    background-color: rgb(17, 172, 172);
    border: 1px solid #000;
    flex: 1 0 auto;
    padding: em(15);
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-out;

    &:hover {
      background-color: rgb(14, 117, 117);
    }

    &--is-active {
      background-color: rgb(160, 109, 51);
    }
  }

  &__content {
    min-height: em(150);
  }

  &__item {
    background-color: darkolivegreen;
    border: 1px solid #000;
    padding: em(10);
  }

  &__title {
    display: block;
    text-align: center;
    margin-bottom: em(10);
    font-weight: 700;
  }

  &__text {
    font-size: em(20);
  }
}

.vertical-tabs {
  margin-top: em(30);
  width: 100%;
  display: flex;

  &__btns {
    display: flex;
    flex-direction: column;
    width: 25%;
  }

  &__btn {
    background-color: rgb(53, 156, 58);
    border: 1px solid #000;
    flex: 1 0 auto;
    padding: em(15);
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-out;

    &:hover {
      background-color: rgb(38, 102, 41);
    }

    &--is-active {
      background-color: rgb(41, 174, 197);
    }
  }

  &__content {
    min-height: em(130);
    width: 75%;
  }

  &__item {
    background-color: rgb(194, 174, 88);
    border: 1px solid #000;
    padding: em(20);
  }

  &__title {
    display: block;
    text-align: center;
    margin-bottom: em(10);
    font-weight: 700;
  }

  &__text {
    font-size: em(20);
  }
}

.form {
  max-width: em(550);
  margin: 0 auto;
  color: #fff;
  padding: em(30) 0;

  &__body {
  }

  &__title {
    font-size: em(40);
    font-weight: 700;
    margin-bottom: em(15);
  }

  &__item {
    margin-bottom: em(20);
  }

  &__label {
    font-size: em(18);
    display: block;
    margin-bottom: em(10);
  }

  &__input {
    height: em(50);
    padding: em(0) em(20);
    border-radius: em(5);
    width: 100%;

    &--message {
      min-height: em(120);
      resize: none;
      padding: em(20);
    }

    &:focus {
      box-shadow: 0 0 em(15) rgb(56, 160, 87);
    }
  }

  &__button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: em(60);
    background-color: rgb(88, 163, 59);
    border-radius: em(10);
    cursor: pointer;
    box-shadow: 0 em(5) 0 rgb(35, 65, 23);
    transition: all 0.3s ease-out;
    position: relative;
    top: 0;

    &:hover {
      background-color: rgb(67, 122, 45);
    }

    &:active {
      top: em(3);
      box-shadow: 0 em(1) 0 rgb(35, 65, 23);
    }
  }

  &__button-text {
    font-size: em(20);
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: em(5);
  }
}

.options {

  &__item {
    margin-bottom: em(10);
  }

  &__input {
    display: none;

    &:checked + .options__label::after {
      transform: scale(1);
    }
  }

  &__label {
    display: inline-flex;
    align-items: center;
    position: relative;
    cursor: pointer;

    &::before {
      content: '';
      flex: 0 0 em(24);
      align-self: flex-start;
      height: em(24);
      background-color: #fff;
      border-radius: 50%;
      margin-right: em(10);
    }

    &::after {
      content: '';
      position: absolute;
      top: em(4);
      left: em(4);
      width: em(16);
      height: em(16);
      background-color: rgb(88, 163, 59);
      border-radius: 50%;
      transform: scale(0);
      transition: transform 0.3s ease-out;
    }
  }

  &__text {
    font-size: em(16);
    cursor: default;
  }
}

.select {
}

.file {

  &__item {
    position: relative;
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    font-size: 0; //without this value cursor pointer dissapears in few sectors
    cursor: pointer;
  }

  &__button {
    display: inline-flex;
    min-height: em(40);
    border-radius: em(10);
    justify-content: center;
    align-items: center;
    background-color: rgb(102, 36, 99);
    padding: 0 em(20);
  }

  &__button-text {
    font-size: em(20);
  }

  &__preview {
    display: inline-block;
    max-width: em(100);
    padding-top: em(10);

    & img {
      max-width: 100%;
    }
  }
}

.checkbox {

  &__input {
    display: none;

    &:checked + .checkbox__label::after {
      transform: scale(1);
    }
  }

  &__label {
    display: inline-flex;
    align-items: center;
    width: 100%;
    position: relative;
    cursor: pointer;

    &::before {
      content: '';
      flex: 0 0 em(24);
      height: em(24);
      background-color: #fff;
      border-radius: em(4);
      align-self: flex-start;
      margin-right: em(10);
    }

    &:after {
      content: '';
      width: em(16);
      height: em(16);
      position: absolute;
      top: em(4);
      left: em(4);
      background-color: rgb(88, 163, 59);
      transform: scale(0);
      transition: transform 0.3s ease-out;
    }
  }

  &__text {
    font-size: em(16);
  }
}