@import './null.scss';
@import './px_to_em.scss';
@import './px_to_vw.scss';

body {
  background: rgb(240, 255, 255);
}

.container {
  max-width: em(1020);
  margin: 0 auto;
  background: rgb(255, 228, 196);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  height: auto;

  @media screen and (max-width: 1199px) {
    font-size: 1.133333vw;
  }

  @media screen and (max-width: 770px) {
    font-size: 1.633333vw;
  }

  @media screen and (max-width: 576px) {
    font-size: 2.833333vw;
  }

  border: 7px solid rgba(86, 48, 24, 0.8);
  background-color: rgba(24, 22, 21, 0.8);
}

.pentagon {
  margin-top: em(10);
  width: em(400);
  height: em(100);
  background-color: rgb(0, 0, 0);
  clip-path: polygon(50% 0, 100% 50%, 100% 100%, 0 100%, 0 50%);
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;

  color: rgb(106, 131, 139);

  &__body {
    background-color: rgb(0, 255, 255);
    width: calc(100% - #{em(10)});
    height: calc(100% - #{em(10)});
    clip-path: polygon(50% 0, 100% 54%, 100% 100%, 0 100%, 0 54%);

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__inner {
    background-color: rgb(165, 42, 42);
    width: calc(100% - #{em(10)});
    height: calc(100% - #{em(10)});
    clip-path: polygon(50% 0, 100% 58%, 100% 100%, 0 100%, 0 58%);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease-out;

    cursor: pointer;

    &.active {
      background-color: rgb(71, 179, 89);
    }
  }

  &__text {
    color: white;

    transition: all 0.3s ease-out;

    &.active {
      color: rgb(0, 0, 0);
    }
  }
}

.block-1 {
  margin-top: em(30);
  background-color: rgb(95, 158, 160);
  padding: em(40);

  &__wrap {
    background-color: rgb(255, 127, 80);
  }

  &__text {
    color: rgb(9, 9, 75);
    font-size: em(20);
  }
}


.block-2 {
  margin-top: em(30);
  background-color: rgb(95, 158, 160);
  padding: em(40);

  &__wrap {
    background-color: rgb(255, 127, 80);
  }

  &__text {
    color: rgb(9, 9, 75);
  }
}

.block-3 {
  margin-top: em(30);
  background-color: rgb(95, 158, 160);
  padding: em(40);

  &__wrap {
    background-color: rgb(255, 127, 80);
  }

  &__text {
    color: rgb(9, 9, 75);
  }
}

.table {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: em(30);

  padding-left: em(4);
  padding-top: em(4);

  &__cell {
    flex: 1 0 auto;
    width: 30%;
    background: rgb(92, 167, 96);
    text-align: center;
    border: em(4) solid #000;
    padding: em(10);

    margin-left: em(-4);
    margin-top: em(-4);

    &--four {
      width: 20%;
      background: gold;

      @media screen and (max-width: 770px) {
        width: 50%;
      }
    }

    &--two {
      width: 50%;
      background: hotpink;

      @media screen and (max-width: 770px) {
        width: 100%;
      }
    }
 
    &--six {
      width: 16%;
      background: mediumpurple;

      @media screen and (max-width: 770px) {
        width: 30%;
      }
    }
 
    &--three {
      width: 30%;
      background: salmon;

      @media screen and (max-width: 770px) {
        width: 100%;
      }
    }
 
    &--five {
      width: 20%;
      background: rgb(105, 114, 196);

      @media screen and (max-width: 770px) {
        width: 30%;
      }
    }
  }
}

.accordion {
  margin-top: em(30);
  width: 100%;

  &__tab {
    margin-top: em(10);
    background: burlywood;
    padding: em(15);
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s ease-out;

    &:hover {
      background: rgb(156, 130, 96);
    }

    &:after {
      content: '\f107';
      font-family: 'FontAwesome';
      transition: all 0.3s ease-out;
    }

    &--is-active {
      &::after {
        transform: rotate(180deg);
      }
    }
  }

  &__content {
    background: cadetblue;
    display: none;

    &--visible {
      display: flex;
    }
  }

  &__text {
    padding: em(20);
  }
}

.tabs {
  margin-top: em(30);
  width: 100%;

  &__btns {
    display: flex;
  }

  &__btn {
    background-color: rgb(17, 172, 172);
    border: 1px solid #000;
    flex: 1 0 auto;
    padding: em(15);
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-out;

    &:hover {
      background-color: rgb(14, 117, 117);
    }

    &--is-active {
      background-color: rgb(160, 109, 51);
    }
  }

  &__content {
    min-height: em(150);
  }

  &__item {
    background-color: darkolivegreen;
    border: 1px solid #000;
    padding: em(10);
  }

  &__title {
    display: block;
    text-align: center;
    margin-bottom: em(10);
    font-weight: 700;
  }

  &__text {
    font-size: em(20);
  }
}

.vertical-tabs {
  margin-top: em(30);
  width: 100%;
  display: flex;

  &__btns {
    display: flex;
    flex-direction: column;
    width: 25%;
  }

  &__btn {
    background-color: rgb(53, 156, 58);
    border: 1px solid #000;
    flex: 1 0 auto;
    padding: em(15);
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-out;

    &:hover {
      background-color: rgb(38, 102, 41);
    }

    &--is-active {
      background-color: rgb(41, 174, 197);
    }
  }

  &__content {
    min-height: em(130);
    width: 75%;
  }

  &__item {
    background-color: rgb(194, 174, 88);
    border: 1px solid #000;
    padding: em(20);
  }

  &__title {
    display: block;
    text-align: center;
    margin-bottom: em(10);
    font-weight: 700;
  }

  &__text {
    font-size: em(20);
  }
}